@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo da 2', sans-serif;
    background: #5c1bd6;
}

.start_btn,
.info-box,
.quiz-box,
.result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
                0px 6px 20px 0 rgba(0,0,0,0.19);
}

.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: #5c1bd6;
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.info-box {
    width: 540px;
    background-color: #fff;
    border-radius: 5px;
    display: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.info-box .info-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info-box .info-list {
    padding: 15px 35px;
}

.info-box .info-list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info-box .info-list .info span {
    font-weight: 600;
    color: #5c1bd6;
}

.info-box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}

.info-box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid #5c1bd6;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;
}

.buttons button.restart {
    color: #fff;
    background-color: #5c1bd6;
    cursor: pointer;
}

.buttons button.restart:hover {
    background-color: #5c1bd6;
}

.buttons button.quit {
    color: #5c1bd6;
    border-color: #5c1bd6;
}

.buttons button.quit:hover {
    color: #fff;
    background-color: #5c1bd6;
}

.quiz-box {
    width: 550px;
    background-color: #fff;
    border-radius: 5px;
    display: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz-box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz-box header .title {
    font-style: 20px;
    font-weight: 600;
}

.quiz-box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 45px;
    background-color: #bb74fd;
    border: 1px solid  #804fdb;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz-box header .time-txt {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz-box header .timer .time-sec {
    font-size: 18px;
    font-weight: 500;
    background-color: #343a40;
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz-box section {
    padding: 25px 30px 20px 30px;
    background-color: #fff;
}

.quiz-box section .que-text {
    font-size: 25px;
    font-weight: 600;
}

.quiz-box section .option-list {
    padding: 20px 0;
    display: block;
}

section .option-list .option {
    background-color: #d5b5ff;
    border: 1px solid #804fdb;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .option-list .option:hover {
    color: #1c0349;
    background-color: #bb74fd;
    border-color: #804fdb;
}

.quiz-box section .option:last-child {
    margin-bottom: 0;
}

.option-list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

.option-list .option .icon.tick {
    color: #23903c;
    border-color: #23903c;
    background-color: #d4edda;
    display: none;
}

.option-list .option .icon.cross {
    color: #a42834;
    background-color: #f8d7da;
    border-color: #a42834;
    display: none;
}

.quiz-box footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box footer .total-que span {
    display: flex;
    user-select: none;
}

.quiz-box footer .total-que span p {
    font-weight: 500;
    padding: 0 5px;
} 

.total-que span p:first-child {
    padding-left: 0;
}

footer .next-btn {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    background-color: #804fdb;
    border-radius: 5px;
    border: solid 1px #5c1bd6;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next-btn:hover {
    background-color: #5c1bd6;
}

.result-box {
    background-color: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: none;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(-50%, -50%) scale(0.9);
}

.result-box .icon {
    font-size: 100px;
    color: #5c1bd6;
    margin-bottom: 10px;
}

.result-box .complete-txt {
    font-size: 20px;
    font-weight: 500;
}

.result-box .score-txt span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result-box .score-txt span p{
    font-weight: 500;
    padding: 0 4px;
}

.result-box .buttons {
    display: flex;
    margin: 20px 0;
}

.result-box .buttons button {
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #5c1bd6;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (max-width: 600px){
    .quiz-box,
    .result-box,
    .info-box {
        width: 95%;
    }

    section .option-list .option:hover{
        background-color: #d5b5ff;
        border: 1px solid #804fdb;
    }
}